<!DOCTYPE html>
    {% if title %}
      {{title}}
    {% else %}
      Enlaces de UCSP
    {% endif %}
      <nav>
        <ul>
	  <li><a href="ucsp.edu.pe/admision/">Admision San Pablo 2015</a></li>
	  <li><a href="academico.ucsp.edu.pe">Academico</a></li>
	  <li><a href="ucsp.edu.pe/informa/">UCSP Informa</a></li>
        </ul>
        
      </nav>
      {% block content %}
      {% endblock %}
      <footer>
        {% block footer %}
        {% endblock %}
         @ ale albarracin
      </footer>